@font-face {
    font-family: "Roboto black"; 
    src: url(fonts/3953.ttf);
}
@font-face {
    font-family: "Roboto bold"; 
    src: url(fonts/3955.ttf);
}
@font-face {
    font-family:  "Roboto regular";
    src: url(fonts/3966.ttf);
}
@font-face {
    font-family:  "Roboto light";
    src: url(fonts/3962.ttf);
}
@font-face {
    font-family:  "Roboto Medium";
    src: url(fonts/3964.ttf);
}
header{
    position: relative;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
}
header .img-bg{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}
main{
    margin-top: 20px;
}
.header-bg-bottom{
    position: absolute;
    top: 842px;
}
.header-bg-bottom img{
    width: 100%;
}
.wrap-bg{
    position: absolute;
    z-index: -2;
    height: 100%;
}
.wrap-bg img{
    height: 100%;
    width: 100%;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-jcc {
    justify-content: center;
}
.block-content{
    margin: auto;
    max-width: 1170px;
}
.header-wrap{
    padding-top: 30px;
}
.header-logo{
    justify-content: flex-end;
    width: 40%;
}
.header-icon{
    width: 60%;
}
.header-logo-wrap{
    justify-content: flex-end;
    margin-right: 90px;
}
.logo-wrap-text{
    font-size: 22px;
    font-family: "Roboto black";
}
.logo-first{
    position: relative;
    top: -15px;
    left: -17px;
}
.logo-second{
    position: relative;
    top: 10px;
    left: -17px;
}
.logo-first img{
    width: 49px;
    height: 49px;
}
.logo-second img{
    width: 33px;
    height: 31px;
}
.icon-block-text{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #666;
}
.icon-block-img{
    margin-right: 15px;
}
.banner-wrap-block{
    width: 40%;
    position: relative;
}
.banner-picture{
    position: absolute;
    top: 160px;
    left: -130px;
    z-index: 1;
}
.banner-picture img{
    width: 571px;
    height: 571px;
}
.banner-legs{
    position: absolute;
    z-index: 2;
    top: -227px;
    left: -289px;
}
.banner-legs img{
    width: 763px;
    height: 827px;
}
.banner-pills{
    position: absolute;
    z-index: 3;
    top: 486px;
    left: -92px;
}
.block-price-orange{
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: #ff6b00;
    border-radius: 8px;
    color: #fff;
    position: absolute;
    text-align: center;
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    top: 471px;
    right: 108px;
    z-index: 4;
}
.block-price-green{
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: #a7c93d;;
    border-radius: 8px;
    color: #fff;
    position: absolute;
    text-align: center;
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    top: 601px;
    right: 27px;
    z-index: 4;
}
.semicircle{
    position: absolute;
    width: 620px;
    height: 310px;
    border-radius: 620px 620px 0 0;
    border-top: 35px solid #fff;
    border-left: 35px solid #fff;
    border-right: 35px solid #fff;
     transform: rotate(-55deg); 
    margin-top: 20px;
    top: 155px;
    left: -327px;
}
.banner-block{
    margin-top: 60px;
    width: 60%;
    padding-bottom: 240px;
}
.banner-content {
    position: relative;
}
.banner-content-arrows{
    position: absolute;
    width: 11px;
    top: 147px;
    left: 24px;
}
.banner-content-wrap{
    width: 60%;
}
.banner-content-title{
    font-size:44px;
    font-family: "Roboto black"; 
    color: #383334;
    width: 314px;
}
.banner-content-title span{
    font-size:34px
}
.border-orange{
    border-bottom: 4px solid #f54d01;
}
.border-green{
    border-bottom: 4px solid #a7c93d;
}
.content-block-img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #a7c93d;
    font-size: 20px;
    font-family: "Roboto bold";
    color:#ffffff;
    line-height: 46px;
    border: 7px solid #e8edc9;
    text-align: center;
}
.banner-content-block{ 
    margin-top: 50px;
    align-items: center;
}
.content-block-text{
    width: 65%;
    margin-left: 20px;
    font-family:  "Roboto regular";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #444;
}
.content-block-text span{
    color: black;
}
.content-border-orange{
    border-bottom: 2px solid #f54d01;
}
.content-border-green{
    border-bottom: 2px solid #a7c93d;
}
.phone-wrap{
    position: relative;
    width: 256px;
    height: 539px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(29, 91, 152, 0.1);
    border: 7px solid #a8ca3f;
}
.block-position{
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translate(-50%);
    background-color: #ebf3fb;
    width: 140px;
    height: 30px;
    border-radius: 0 0 10px 10px;
    border: 7px solid #a8ca3f;
    border-top: 0;
    text-align: center;
    font-family:  "Roboto regular";
    font-size: 16px;
    color: #444;
}
.block-position img{
    margin-right: 10px;
}
.phone-title{
    font-size: 20px;
    color: black;
    font-weight: 400;
    line-height: 22px;
    font-family:  "Roboto regular";
    text-align: center;
    margin-top: 40px;
}
.phone-title p{
    line-height: 20px;
}
.phone-date{
    color: #ff6b00;
    font-weight: 500;
    line-height: 22px;
    margin-top: 3px;
}
.phone-price{
    justify-content: center;
    margin-top: 20px;
}
.old-price p{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family:  "Roboto regular";
}
.old-price  div{
    color: #0b0b0b;
    font-size: 34px;
    font-weight: 300;
    line-height: 24px;
    font-family:  "Roboto light";
    margin-right: 20px;
    margin-top: 6px;
}
.new-price p{
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family:  "Roboto regular";
}
.new-price div{
    font-family: "Roboto black";
    position:relative;
    width: 106px;
    height: 40px;
    line-height: 40px;
    background-color: #ff6b00;
    background-image: linear-gradient(to right, #ffbc02 0%, #ffce02 100%);
    border-radius: 5px;
    font-size: 34px;
    text-align: center;
}
.old-price div:after{
    content: " ";
    position: absolute;
    display:inline-block;
    height: 1px;
    width: 80px;
    background-color: #ff6b00;
    transform: rotate(15deg);
    top: 166px;
    left: 25px;
}
.old-price div:before{
    content: " ";
    position: absolute;
    display:inline-block;
    height: 1px;
    width: 80px;
    background-color: #ff6b00;
    transform: rotate(-15deg);
    top: 166px;
    left: 25px;
}
form{
    margin: 10px 0 15px 0;
}
.input{
    width: 220px;
    height: 65px;
    background-color: #eef2f7;
    border-radius: 32px;
    box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.04);
    padding-left: 50px;
    box-sizing: border-box;
    border: none;
    margin: 5px;
    color: #666;
    font-family:  "Roboto regular";
    font-size: 16px;
}
.input-block {
    position: relative;
    text-align: center;
}
.input-block img {
    position: absolute;
    left: 35px;
    top: 26px;
}
.button-wrap{
    position: relative;
    width: 218px;
    height: 70px;
    background-image: linear-gradient(to right, #ffbc02 0%, #ffce02 100%);
    border-radius: 32px;
    margin: auto;
    margin-top: 5px;
}
button{
    position: absolute;
    width: 208px;
    height: 60px;
    border: 2px solid #ffd24e;
    border-radius: 27px;
    background-color: #ffc002;
    text-align: center;
    top: 5px;
    left: 5px;
    font-size: 28px;
    line-height: 22px;
    font-family: "Roboto bold";
    color: black;
}
button p{
    font-size: 16px;
    line-height: 16px;
}
.sale-block{
    font-family:  "Roboto regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin: 15px 11px;
}
.sale-block span{
    color: #9dbd39;
}
.phone-footer{
    font-family:  "Roboto regular";
    width: 256px;
    height: 50px;
    background-color: #eef2f7;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
}
.phone-footer img{
    padding-right: 15px;
}
.errow{
    position: relative;
}
.errow img{
    position: absolute;
    top: -380px;
    right: -35px;
}
.second-block-title{
    font-family: "Roboto black";
    color: #383334;
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    text-align: center;
}
.second-block-title p{
    font-family: "Roboto bold";
    color: #2b2828;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 50px;
}
.second-item-wrap{
    flex-wrap: wrap;
    justify-content: space-between;
}
.second-item-block{
    align-items: center;
    margin: 50px 0 0 0;
    position: relative;
}
.second-item-content{
    font-family:  "Roboto Medium";
    color: black;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    width: 30%;
    margin-right: 20px;
}
.second-item-content-text{
    margin-left: 20px;
    width: 36%;
}
.second-item-img-position{
    position: absolute;
    top: -17px;
    left: -18px;
}
.second-item-img-position-circle{
    position: absolute;
    top: 7px;
    right: 165px;
    width: 50px;
    height: 50px;
    background-color: #ec9a6a;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-family:  "Roboto regular";
    line-height: 50px;
}
.second-circle{
    background-color: #e47643;
}
.third-circle{
    background-color: #ec5b19;
}
.second-border{
    position: absolute;
    top: 200px;
    left: 4px;
    height: 3px;
    width: 50px;
    background-color: #becbd8;
}
.second-item-text{
    font-family:  "Roboto regular";
    width: 312px;
    height: 73px;
    color: #444;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 50px;
}
.second-static-wrap{
    position: relative;
    max-width: 1170px;
    border: 3px solid #f4d3bb;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 400;
    font-family:  "Roboto Medium";
    color: black;
    text-align: center;
    padding: 45px 0 45px;
    margin: 80px 0;
}
.second-static-wrap p{
    color: #444;
    line-height: 0px;
    padding-top: 20px;
}
.second-static-img{
    position: absolute;
    top: -23px;
    right: 50%;
    transform: translate(50%);
    width: 170px;
    background-color: #fff;
    border: 1px solid #fff;
    text-align: center;
}
.three-block {
    position: relative;
    background: #f5f9fa;
    margin-top: 50px;
    padding: 80px 0;
}
.three-block-bg-top{
    position: absolute;
    top: -54px;
}
.three-block-bg-top img{
    width: 100%;
}
.three-block-bg-btn{
    position: absolute;
    bottom: -102px;
}
.three-block-bg-btn img{
    width: 100%;
}
.three-block-title{
    color: #383334;
    font-family: 'Roboto black';
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    text-align: center;
}
.three-item-wrap {
    margin-top: 90px;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.three-item{
    width: 32%;
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(37, 83, 129, 0.08);
    border-top: 4px solid #a8c53a;
}
.three-item-img{
    position: absolute;
    left: 50%;
    top: -45px;
    transform: translate(-50%);
    background: #f2f8fa;
    padding: 15px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.three-item-img-second{
    background: #f8fdfe;
}
.three-item-img-third{
    background: #f4fbfc;
}
.three-item-content{
    text-align: center;
}
.three-item-content-title{
    color: black;
    font-family: 'Roboto black';
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 60px;
}
.three-item-content-description{
    color: #222;
    font-family:  "Roboto Medium";
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    max-width: 278px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.three-item-content-description span {
    display: block;
    color: #666;
    font-family: Roboto;
    font-size: 16px;
    font-style: italic;
    line-height: 28px;
}
.three-item-content-but{
    color: #ff6b00;
    font-family: 'Roboto black';
    font-size: 24px;
    font-weight: 900;
    line-height: 26px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.three-item-content-text{
    font-family: "Roboto regular";
    font-size: 18px;
    line-height: 26px;
    color: #444;
    font-weight: 400;
    max-width: 287px;
    margin: auto;
    margin-bottom: 30px;
}
.three-item-content-text span{
    font-family: "Roboto Medium";
    color: #000;
    font-weight: 500;
}
.three-item-content-line{
    width: 90%;
    height: 2px;
    margin: auto;
    background-color: #d2dce6;
    position: relative;
}
.three-item-content-line:before, 
.three-item-content-line:after{
    content: ''; 
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #d2dce6;
}
.three-item-content-line:after{
    border-top: 10px solid #fff;
    bottom: -18px; 
}
.conclusion-block {
    position: relative;
    margin: 60px 0;
}
.conclusion-title{
    color: black;
    font-family: "Roboto bold";
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    background: #f3f9ff;
    position: absolute;
    width: 170px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    top: -15px;
}
.conclusion-title span:first-child{
    position: relative;
    z-index: 1;
}
.conclusion-title span:last-child{
    color: #f4d3bb;
    font-family: "Roboto bold"; 
    font-size: 70px;
    font-weight: 700;
    line-height: 28px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.conclusion-content{
    border: 3px solid #f4d3bb;
    border-radius: 10px;
    padding: 30px 100px;
    text-align: center;
    font-family: "Roboto regular";
    font-size: 21px;
    line-height: 28px;
    color: #444;
    font-weight: 400;
}
.four-block{
    margin-top: 30px;
}
.four-block-title{
    font-size: 47px;
    font-weight: 900;
    line-height: 48px;
    color: #000;
    text-align: center;
    font-family: "Roboto black";
    margin: 20px 0;
}
.four-block-title span{
    color: #fa4f01;
}
.four-block-subtitle{
    text-align: center;
    color: #444;
    font-family: "Roboto regular";
    font-size: 23px;
    font-weight: 400;
    line-height: 48px;
}
.four-item-wrap{
    margin-top: 100px;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}
.four-item{
    width: 31%;
    border: 4px solid #f64d01;
    border-radius: 10px;
    position: relative;
    padding-top: 80px;
}
.four-item-image{
    width: 100px;
    height: 50px;
    border-radius: 0 0 100px 100px;
    border-bottom: 4px solid #f64d01;
    border-left: 4px solid #f64d01;
    border-right: 4px solid #f64d01;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -4px;
    background: #fff;
}
.four-item-image img{
    width: 100%;
    position: relative;
    top: -35px;
}
.four-item-content{
    text-align: center;
}
.four-item-content-title{
    font-family: "Roboto bold";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #000;
}
.four-item-content-text{
    font-family: "Roboto regular";
    font-size: 18px;
    line-height: 26px;
    color: #444;
    font-weight: 400;
    max-width: 308px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.four-item-content-text span{
    font-family: "Roboto Medium"; 
    color: #000;
    font-weight: 500;
}
.four-item:nth-child(2) .four-item-image img{
    width: auto;
    max-width: 125px;
    top: -55px;
    left: -17px;
}
.four-item:last-child{
    border: 4px solid #62bd1f;
}
.four-item:last-child .four-item-image{
    border-bottom: 4px solid #62bd1f;
    border-left: 4px solid #62bd1f;
    border-right: 4px solid #62bd1f;
}
.four-item:last-child .four-item-image img{
    top: -50px;
}
.four-information{
    max-width: 869px;
    margin: 30px auto 0;
    background: linear-gradient(to right, #f64d01, #62bd1f);
    padding: 4px;
    border-radius: 10px;
}
.four-information-text {
    font-family: "Roboto Medium";
    font-size: 27px;
    font-weight: 500;
    line-height: 27px;
    color: #000;
    text-align: center;
    padding: 25px 5px;
    background: #fff;
    border-radius: 10px;
}
.four-information-text span{
    color: #f64d01;
}
.fifth-bg{
    background: #f5f9fa;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
}
.fifth-bg-img{
    width: 100%;
}
.fifth-wrap{
    padding-top: 60px;
}
.fifth-title{
    font-family: "Roboto black";
    font-size: 47px;
    font-weight: 400;
    line-height: 48px;
    color: black;
    text-align: center;
}
.fifth-title span{
    color: #fa4f01;
}
.fifth-recipe-wrap{
    margin-top: 90px;
    padding-bottom: 30px;
    justify-content: center;
}
.recipe-block-img{
    position: relative;
    z-index: 2;
    margin-right: 30px;
}
.recipe-block-content{
    align-items: center;
    margin-bottom: 20px;
}
.recipe-block-content-text{
    font-family:  "Roboto Medium";
    position: relative;
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-left: 30px;
}
.recipe-block-content-wrap{
    width: 35%;
}
.recipe-block-content-text:after{
    content: " ";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #7bbf1c;
    top: -19px;
    left: 0px;
}
@media all and (max-width: 1575px){
    .header-bg-bottom{
        top: 942px;
    }
    .banner-pills {
        top: 571px;
    }
    .block-price-orange{
        top: 554px;
    }
    .block-price-green{
        top: 685px;
    }
    .second-block{
        margin-top: 90px;
    }
    .three-block-bg-btn{
        bottom: -80px;
    }
}
@media all and (max-width: 1217px){
    .banner-wrap-block {
        display: none;
    }
    .header-wrap{
        justify-content: center;
    }
    .header-logo-wrap{
        margin-right: 40px;
    }
    .header-bg-bottom{
        top: 915px;
    }
    .header-logo{
        width: 22%;
    }
    .banner-block{
        width: 100%;
    }
    .banner-wrap{
        padding-left: 85px;
    }
    .second-block-title{
        font-size: 38px;
    }
    .second-block-title p{
        margin: auto;
        width: 60%;
    }
    .second-item-wrap{
        justify-content:center;
    }
    .second-item-content{
        width: 33%;
        margin: 0 38px;
    }
    .second-item-img-position-circle{
        right: 191px;
    }
    .second-static-wrap {
        margin: 80px 85px;
    }
    .three-block{
        background: none;
        padding: 0px 0;
    }
    .three-block-title{
        font-size: 38px;
    }
    .three-item-wrap{
        padding: 0 90px;
        justify-content: center;
    }
    .three-item{
        width: 40%;
        margin-bottom: 60px;
        margin-right: 30px;
    }
    .three-item-img{
        background:#fff;
    }
    .conclusion-content{
        margin: 80px 85px;
    }
    .conclusion-title{
        background: #fff;
    }
    .four-block-title{
        font-size: 38px;
        width: 80%;
        margin: auto;
    }
    .four-item-wrap{
        padding: 0 90px;
        justify-content: center;
    }
    .four-item{
        width: 40%;
        margin-bottom: 60px;
        margin-right: 30px;
    }
    .fifth-title{
        font-size: 38px;
    }
}
@media all and (max-width: 1100px){
    .second-item-img-position-circle{
        right: 178px;
    }
}
@media all and (max-width: 1027px){
    .second-item-img-position-circle{
        right: 153px;
    }
}
@media all and (max-width: 1000px){
    .second-item-img-position-circle{
        right: 135px;
    }
}
@media all and (max-width: 940px){
    .block-content {
        max-width: 480px;
    }
    header {
        background: #ebf3fb;
    }
    .banner-wrap {
        padding-left: 0;
    }
    .icon-block-text {
        font-size: 15px;
    }
    .header-logo-wrap {
        margin-right: 20px
    }
    .header-icon{
        display: none;
    }
    .header-bg-bottom{
        top: 1248px;
    }
    .banner-block{
        flex-wrap: wrap;
    }
    .banner-content-wrap{
        width: 100%;
    }
    .banner-content-title {
        font-size: 40px;
        width: 100%;
        text-align: center;
    }
    .second-block-title p {
        width: 95%;
        margin-top: 10px;
    }
    .banner-content-arrows {
        top: 120px;
        left: 45px;
    }
    .phone-wrap {
        margin: auto;
        margin-top: 40px;
    }
    .banner-content-block {
        justify-content: space-around;
    }
    .banner-block {
        padding-bottom: 50px;
        flex-wrap: wrap;
    }
    .second-item-content {
        width: 95%;
    }
    .second-item-content-text {
        margin-left: 90px;
    }
    .second-item-block {
        justify-content: space-between;
    }
    .second-item-text {
        align-self: center;
    }
    .second-border {
        left: 50%;
        transform: translate(-50%);
    }
    .second-item-img-position-circle {
        right: 223px;
    }
    .second-static-wrap {
        margin: 80px 0px;
    }
    .second-static-wrap p {
        line-height: inherit;
    }
    .three-item {
        width: 100%;
        margin: 40px auto;
    }
    .three-block {
        background: #fff;
        margin-top: 50px;
        padding-top: 50px;
    }
    .three-item-wrap {
        padding: 0px 60px;
        margin-top: 50px;
    }
    .conclusion-content {
        margin: 0px 0px;
        padding: 20px;
    }
    .recipe-block-img{
        display: none;
    }
    .recipe-block-content-wrap {
        width: 100%;
    }
    .four-item {
        width: 100%;
        margin-bottom: 65px;
    }
    .four-item-wrap {
        padding: 0 70px;
        margin: 60px auto;
    }
    .four-block-subtitle {
        font-size: 21px;
        line-height: 32px;
    }
    .four-block-title {
        font-size: 35px;
        width: 100%;
        margin-bottom: 20px;
    }
    .fifth-bg {
        margin-top: 60px;
        background: #f3f9ff;
    }
}
@media all and (max-width: 480px){
    .header-bg-bottom {
        display: none;
    }
    .fifth-bg-img{
        display: none;
    }
    .block-content {
        padding: 0 20px;
    }
    .banner-content-arrows {
        top: 169px;
        left: 39px;
    }
    .banner-content-title {
        font-size: 32px;
        line-height: 40px;
    }
    .second-static-wrap {
        font-size: 17px;
        line-height: 22px;
        height: 130px;
    }
    .three-block-title {
        font-size: 32px;
        line-height: 38px;
    }
    .three-item-wrap {
        padding: 0px 20px;
    }
    .conclusion-content {
        padding: 20px;
    }
    .four-block-title {
        font-size: 32px;
    }
    .four-item-wrap {
        padding: 0px 20px;
    }
    .four-item {
        margin: 40px auto;
    }
    .four-information-text {
        font-size: 18px;
    }
    .second-item-img-position-circle {
        right: 175px;
    }
    .second-item-content-text {
        margin-left: 0;
    }
}
@media all and (max-width: 460px){
    .second-item-img-position-circle{
        right: 155px;
    }
}
@media all and (max-width: 440px){
    .second-item-img-position-circle{
        right: 145px;
    }
}
@media all and (max-width: 435px){
    .second-item-img-position-circle{
        right: 130px;
    }
}
@media all and (max-width: 388px){
    .banner-content-arrows {
        top: 184px;
        left: 35px;
    }
    .banner-content-title {
        font-size: 26px;
    }
    .second-block-title h1 {
        font-size: 26px;
        line-height: 32px;
    }
    .second-block-title p {
        font-size: 20px;
    }
    .three-block-title {
        font-size: 26px;
        line-height: 32px;
    }
    .four-block-title {
        font-size: 26px;
        line-height: 32px;
    }
    .four-block-subtitle {
        font-size: 19px;
        line-height: 24px;
    }
    .fifth-title {
        font-size: 32px;
        line-height: 38px;
    }
    .fifth-recipe-wrap {
        margin-top: 50px;
    }
    .four-information {
        margin: 0 auto; 
    }
    .four-item-wrap {
        margin: 60px auto 0;
    }
    .header-logo {
        width: 60%;
    }
    .banner-block {
        margin-top: 20px;
    }
}
@media all and (max-width: 355px){
    .second-item-img-position-circle{
        right: 115px;
    }
}
@media all and (max-width: 345px){
    .second-item-img-position-circle{
        right: 105px;
    }
}
@media all and (max-width: 325px) {
    .banner-content-arrows {
        top: 195px;
        left: 29px;
        width: 13px;
    }
    .second-item-content-text {
        font-size: 19px;
        margin-left: 10px;
    }
    .three-item-wrap {
        padding: 0px;
    }
    .three-item-content-text {
        padding: 0 10px;
    }
    .second-item-img-position-circle {
        right: 95px;
    }
    .four-item-wrap {
        padding: 0;
    }
    .four-item-content-text {
        padding: 0 10px;
    }
}
